<%= bootstrap_form_for(@category) do |form| %>
  <div class="field">
    <%= form.text_field :name, label: "Nom" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Valider" %>
  </div>
<% end %>
